@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');  
/* Sets the background color of the body to blue. Sets font to Rubik */  
body {
  background-color: #0b0c1a;
  font-family: 'rubik', sans-serif;
}
/* Aligns the heading text to the center. */  
h1 {
  float: center;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Sets the width for the accordion. Sets the margin to 90px on the top and bottom and auto to the left and right */  
.accordion {
  width: 95%;
  color: #FEFEFE;
  background-color: rgb(35,36,50);
  margin-left:auto;
  margin-right:auto;
    border-left:1px solid #fefefe;
    border-right:1px solid #fefefe;

}

/* Position the labels relative to the .container. Add padding to the top and bottom and increase font size. Also make it's cursor a pointer */  
.accordion .label {  
 position: relative;  
 padding: 10px 0;  
 font-size: 30px;  
 color: #FFFFFF; 
 cursor: pointer;  
}  
.accordion .content {  
 position: relative;  
 height: 0;  
 background-color: rgba(0,0,0,0);
 color:white;
 font-size: 20px;  
 text-align: justify;  
 width: 780px;  
 overflow: hidden;  
 transition: 0.5s;  
}  
Add a horizontal line between the contents  
.accordion hr {  
 width: 100;  
 margin-left: 0;  
 border: 1px solid grey;  
}  
/* Unhides the content part when active. Sets the height */  

/* Changes from plus sign to negative sign once active */  
.accordion .container.active .label::before {  
 content: '-';  
 font-size: 30px;  
}

.accordion .container {
  position: relative;
  margin: 10px 10px;
}

/* Positions the labels relative to the #2673B8.container. Adds padding to the top and bottom and increases font size. Also makes its cursor a pointer */

.accordion .label {
  position: relative;
  font-size: 30px;
  color: #fefefe;
  cursor: pointer;
}

/* Positions the plus sign 5px from the right. Centers it using the transform property. */

.accordion .label::before {
  content: '+';
  position: absolute;
  top: 50%;
  right: -5px;
  font-size: 30px;
  transform: translateY(-50%);
}

/* Hides the content (height: 0), decreases font size, justifies text and adds transition */

.accordion .content {  
  position: relative;  
  height: 0;  
  font-size: 20px;  
  text-align: justify;  
  width: 780px;  
  overflow: hidden;  
  transition: 0.5s;  
 }  

/* Adds a horizontal line between the contents */

.accordion hr {
  width: 50;
  margin-left: 0;
  border: 0.5px solid #fefefe;
}



/* Unhides the content part when active. Sets the height */

.accordion .container.active .content {
  vertical-align: middle;
  color:#eeeeee;
  transition: 0.5s;
  height:725px
}


/* Changes from plus sign to negative sign once active */

.accordion .container.active .label::before {
  content: '-';
  font-size: 30px;
}
